body{
font-family: Ubuntu,sans-serif;
font-size: 20px;
background-color: rgba(247, 188, 185, 0.863);

}
h1{
    text-align: center;
}

.ingredients ul{
    list-style-image:url("../arrow.svg");
}
img{
    border-radius: 5%;
    display: block;
    margin: auto;
    
}
p  {
    font-size: medium
}
.boom{
    list-style-image:url("arrow.svg");

}
a{
    text-decoration: none;
    color: black;
    border-top: 2px solid black;
    border-bottom:2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: yellow;
    border-radius: 5px;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 5px;
    font-size: 20px;
    font: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
hr{
    height: 3px;
    background-color: black;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.dode{
    height: 1px;
    background-color: rgb(242, 64, 9);
    color: rgb(246, 72, 3);
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#final {
    width: 1000px;
    margin: auto;
}